*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    color: white;
 }
 body{
    background-color: #6cdac2;
    place-items: center;
    display: grid;
    height: 100vh;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200530/pngtree-cute-hand-drawn-style-mathematics-education-pink-plaid-background-image_337364.jpg");
    
 }
 .main{
    width: 400px;
    height: 470px;
    background-color: rgb(41, 39, 45);
    position: absolute;
    border: 5px solid black;
    border-radius: 6px; 
 }
 .main input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 5px solid rgb(184, 133, 194);
    display: flex;
    margin: auto;
    border-radius: 12px;
    color: black;
 }
 .btn input[type='button']{
    width:90px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 12px;
    top: 10px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color: #a11a45;
    border-radius: 6px;
    color: white;
 }
 .btn input[type='button']:hover{
    background-color: rgb(66, 6, 33);
    color: white;
 }